@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* === Colors === */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(234, 5%, 57%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /* === Font Weights === */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--off-white);
  color: var(--dark-grayish-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* page and Overlay */
.page {
  position: relative;
  padding: 3rem 7rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.3s linear;
  z-index: 0;
  pointer-events: none;
}

.page.navActive .overlay {
  background: rgba(0, 0, 0, 0.5);
}

.page.navActive {
  height: 100vh;
  overflow: hidden;
}

/* Nav */
header {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.navs {
  list-style-type: none;
  position: unset;
  width: max-content;
  height: auto;
  background: var(--off-white);
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding: 0;
  transform: translateX(0);
  transition: all 0.3s linear;
  z-index: 10;
}

.nav-links {
  color: var(--very-dark-blue);
  font-size: 1.1em;
  text-decoration: none;
  transition: all 0.3s linear;
}

.nav-links:hover {
  color: var(--soft-red);
}

nav.navActive .navs {
  transform: translateX(0);
}

nav.navActive .menu-button {
  background-image: url("/images/icon-menu-close.svg");
  z-index: 100;
}

/* Main */
main {
  margin-top: 1rem;
  width: 100%;
}

.homepage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "home-news latest-news"
    "trending-news trending-news";
  gap: 0em 2em;
}

/* Home News */
.home-news {
  grid-area: home-news;
  display: flex;
  flex-direction: column;
}

.home-newsImg img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.home-newsContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.home-newsTitle {
  color: var(--very-dark-blue);
  font-size: 3.2rem;
  font-weight: var(--fw-extra-bold);
  line-height: 1;
  margin-bottom: 1rem;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-newsInfo {
  color: var(--grayish-blue);
  font-size: 0.9em;
  font-weight: var(--fw-regular);
  line-height: 1.4em;
}

.readMore {
  display: block;
  padding: 1rem 2rem;
  color: var(--off-white);
  background-color: var(--soft-red);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 3px;
  width: max-content;
  font-weight: var(--fw-bold);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s linear;
}

.readMore:hover {
  background-color: var(--very-dark-blue);
}

/* Latest News */
.latest-news {
  grid-area: latest-news;
  display: flex;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  padding: 1.5rem;
  gap: 1rem;
}

.latest-title {
  color: var(--soft-orange);
  font-size: 2.5em;
  font-weight: var(--fw-bold);
}

.latest-newsContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.latest-news-title {
  color: var(--off-white);
  font-size: 1.12rem;
  font-weight: var(--fw-bold);
  text-decoration: none;
  margin-bottom: 0.5em;
  display: block;
  transition: all 0.3s linear;
}

.latest-news-title:hover {
  color: var(--soft-orange);
}

.latest-news-info {
  color: var(--grayish-blue);
  font-size: 0.85rem;
  font-weight: var(--fw-regular);
  line-height: 1.4em;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--dark-grayish-blue);
  margin: 1em 0;
}

/* Trending News */
.trending-news {
  grid-area: trending-news;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 3em;
}

.trending-newsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.trending-news-img img {
  width: 100px;
  height: auto;
}

.trending-news-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.trending-news-num {
  font-size: 1.8rem;
  color: var(--soft-red);
  font-weight: var(--fw-bold);
}

.trending-news-title {
  font-size: 1.1rem;
  color: var(--very-dark-blue);
  font-weight: var(--fw-bold);
  text-decoration: none;
  display: block;
  transition: all 0.3s linear;
}

.trending-news-title:hover {
  color: var(--soft-red);
}

.trending-news-info {
  font-size: 0.85rem;
  color: var(--dark-grayish-blue);
  font-weight: var(--fw-regular);
  line-height: 1.4em;
}

a {
  all: unset;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1200px) {
  body {
    font-size: 0.9em;
  }

  .page {
    padding: 1.5rem 3rem;
  }

  .navs {
    gap: 1.5rem;
  }

  main {
    margin-top: 0.2em;
  }

  .homepage {
    gap: 0em 1.5em;
  }

  .home-newsContent {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .home-newsTitle {
    font-size: 2.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .latest-title {
    font-size: 2rem;
  }

  .trending-news {
    margin-top: 2.5em;
  }
}

@media (max-width: 850px) {
  .page {
    padding: 1rem;
  }

  .logo img {
    width: 2.8em;
    height: auto;
  }

  nav {
    position: relative;
    padding-bottom: 0.8em;
  }

  .menu-button {
    position: sticky;
    right: 1rem;
    top: 25%;
    width: 2.2em;
    height: 2.2em;
    background-image: url("/images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s linear;
    z-index: 100;
  }

  .navs {
    position: fixed;
    top: 0;
    right: 0;
    width: 18em;
    height: 100%;
    background: var(--off-white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 10rem;
    padding-left: 1.5rem;
    transform: translateX(100%);
  }

  main {
    margin-top: 0.2em;
  }

  .homepage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "home-news"
      "latest-news"
      "trending-news";
    gap: 2em 0em;
  }

  .trending-news {
    grid-template-columns: 1fr;
    margin-top: 1em;
  }
}
